<nb-layout>
	<nb-layout-header fixed>
			<h4>Welcome to Alex's Website</h4>
	</nb-layout-header>
	<nb-layout-column>
		<nb-card class="body" >
			<nb-card-body>
				<nb-tabset>
					<nb-tab tabTitle="About Me">
						<cv></cv>
					</nb-tab>
					<nb-tab tabTitle="Enter Password Here">
						<password-page></password-page>
					</nb-tab>
				</nb-tabset>
			</nb-card-body>
		</nb-card>
		
	</nb-layout-column>

	
	<nb-layout-footer fixed>
		<span class="timer-text-area"> {{getTime() | timeFormat}} </span>
		<span class="email-text-area"> alexarner@gmail.com </span>
		
	</nb-layout-footer>

</nb-layout>
