<nb-layout>

	<nb-layout-header fixed>
		
	</nb-layout-header>


	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	<nb-card class="grid-item">
		<nb-card-header>Title</nb-card-header>
		<nb-card-body>tdsaf</nb-card-body>
		<nb-card-footer>tggfdg</nb-card-footer>
	</nb-card>
	

	<nb-layout-footer fixed>
		alexarner@gmail.com
	</nb-layout-footer>

</nb-layout>