<nb-layout>
	<nb-layout-header fixed>
			<h1>Welcome!</h1>
	</nb-layout-header>
	<nb-layout-column>
		<nb-card class="body">
			<nb-card-body>
				<nb-card class="item">
					<nb-card-body>
						<h3 style="text-align: center;">Under</h3>
					</nb-card-body>
				</nb-card>
				<nb-card class="item">
					<nb-card-body>
						<h3 style="text-align: center;">Construction</h3>
					</nb-card-body>
				</nb-card>
				<nb-card class="item">
					<nb-card-body>
						<h3 style="text-align: center;">Check</h3>
					</nb-card-body>
				</nb-card>
				<nb-card class="item">
					<nb-card-body>
						<h3 style="text-align: center;">Later</h3>
					</nb-card-body>
				</nb-card>
			</nb-card-body>
			
		</nb-card>
	</nb-layout-column>
	
	
	<nb-layout-footer fixed>
		alexarner@gmail.com
	</nb-layout-footer>

</nb-layout>
