.item {

	--stagger-delay: 100ms;
	animation: cardEntrance 700ms ease-out;
	animation-fill-mode: backwards;
	border-radius: 16px;
	transition: filter .5s;
}
.item:hover {
	transform: scale(1.06);
	filter: brightness(1.5)
}

@keyframes cardEntrance {
	from{
		opacity: 0;
		transform: scale(0.6);
		filter: hue-rotate(180deg)
	}
	to {
		opacity: 1;
		transform: scale(1);
		filter: hue-rotate(0deg);
	}
}

.item:nth-child(1) { grid-area: 1; animation-delay: calc(1 * var(--stagger-delay)); }
.item:nth-child(2) { grid-area: 2; animation-delay: calc(2 * var(--stagger-delay)); }
.item:nth-child(3) { grid-area: 3; animation-delay: calc(3 * var(--stagger-delay)); }
.item:nth-child(4) { grid-area: 4; animation-delay: calc(4 * var(--stagger-delay)); }
